<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weathernary</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <h1>Enter Location to Get Weather Info</h1>
    <form action="/weather" method="POST">
        <input type="text" name="city" placeholder="City Name" required>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>